@import "../mixin/color-scheme", "../mixin/font-scheme";

&-panel {
	@include system-surface-foreground();
	display: block;
	border-radius: 0.5rem;
	margin: 1rem 0;

	&[surface="darkest"] {
		@include system-surface-darkest();
	}
}
